.formSubmit {
	height: 40px;
	min-height: 40px;
}
.searchNav {
	/* border: none; */
	outline: none;
	border-radius: 50px;
	border: 1px solid #fbfcff;
	background: transparent;
	padding: 10px 16px;
	width: 250px;
	color: #fff;
	margin-right: 24px;
}
.formSubmit input placeholder {
	color: green;
	letter-spacing: 1px;
}
@media (min-width: 860px) {
	input {
		width: 220px;
	}
}
