.MySite {
	width: 100%;
	min-height: 100vh;
	background: url("../images/marvel.jpg") center/contain;
}
::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
	scroll-behavior: smooth;
}
@media (max-width: 860px) {
	.MySite {
		overflow: scrollbar;
		overflow-x: hidden;
	}
	::-webkit-scrollbar {
		width: 0; /* Remove scrollbar space */
		background: transparent; /* Optional: just make scrollbar invisible */
	}
}
