.hiddenSiteNavMenu {
	height: 10vh;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
@media (max-width: 860px) {
	.SiteNavMenu {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1px;
		min-height: 100vh;
		background: rgba(0, 0, 0, 0.8);
		padding: 20px 50px;
		width: 100%;
		height: 100vh;
		max-width: 340px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		transition: all 800ms ease-in-out;
		z-index: 1;
	}
	.hiddenSiteNavMenu {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;
		flex-wrap: wrap;
	}
}
@media (max-width: 660px) {
	.hiddenSiteNavMenu {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		// padding-right: 70px;
		flex-wrap: wrap;
	}
}
